@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans:wght@300&display=swap");

:root {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

/* ---------- GRID 1 ----------- */
.wrapper {
    display: grid;
    gap: 1rem;
    /* definir 3 columnas, puede ser cualquier otro tipo de medida*/
    grid-template-columns: 1fr 30% 70px;
    /* definir 3 columnas del mismo tamaño */
    grid-template-columns: repeat(3, 1fr);
    /* definir filas con altura minima y alto adaptable al contenido */
    grid-auto-rows: minmax(100px, auto);
    /* defir columnas adaptables con con minimos y maximos de anchura */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* funciona parecido */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper div {
    border: solid 1px blue;
}

/* -----------GRID 2---------- */
.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.box {
    border: solid 1px blue;
    padding: 0.5rem;
    height: 200px;
}
.box1 {
    display: grid;
    gap: 1rem;
}
.box1 div {
    border: solid 1px green;
}

/* -----------------GRID Y FLEXBOX------------------- */

/* -- EJEMPLO1 -- */
.wrapper3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper3 > div {
    flex: 1 1 200px;
    border: solid 1px blue;
}
/* -- grid -- */
.wrapper4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper4 > div {
    flex: 1 1 200px;
    border: solid 1px blue;
}
/* -- EJEMPLO2 -- */
.wrapper5 {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    min-height: 200px;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper5 > div {
    border: solid 1px blue;
}
.box51 {
    align-self: stretch;
}
.box52 {
    align-self: flex-start;
}
/* -- grid -- */
.wrapper6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    grid-auto-rows: 200px;
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper6 > div {
    border: solid 1px blue;
}
.box61 {
    align-self: stretch;
}
.box62 {
    align-self: flex-start;
}

/* -- EJEMPLO3 -- */
.wrapper7 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper7 > div {
    border: solid 1px blue;
}
/* -- EJEMPLO4 -- */
.wrapper8 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper8 > div {
    border: solid 1px blue;
}
/* -- EJEMPLO5 -- */
.wrapper9 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 1rem;
    position: relative;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper9 > div {
    border: solid 1px blue;
}
.box93 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    position: absolute;
    top: 40px;
    left: 40px;
}
/* -- EJEMPLO6 -- */
.wrapper10 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper10 div {
    border: solid 1px blue;
}
.box103 {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.abspos {
    position: absolute;
    top: 40px;
    left: 40px;
    /* margin: 0.5rem; */
}
/* -- EJEMPLO7 -- */
.wrapper11 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
    padding: 0.5rem;
    border: solid 2px tomato;
}
.wrapper11 > div {
    border: solid 1px blue;
}
.box111 {
    grid-column: 1 / 4;
    padding: 0.5rem;
    /* contents desaparece el padre y lo reemplaza por los hijos */
    display: contents;
}
.nested {
    border: solid 1px fuchsia;
}
